@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --text-color: #333333;
    --background-color: #ffffff;
    --link-color: #9a3886;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

a {
    color: var(--link-color);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

h1,h2,h3,h4,h5,h6,p {
    padding:0;
    margin:0;
}

/* Style för första sidan */
.page1 {
    height: 552px;
    display: grid;
    grid-template-rows: 52px 1fr;
    background: linear-gradient(180deg,#FFFFFF 0%, #F1F4FD 100%);


    .nav-bar {
        xborder: solid 1px black;
        display: grid;
        align-items: center;
        gap: 2px;
        grid-template-columns: auto 1fr auto auto;

        .nav-item {
            height: 50px;
            width: 50px;
            display: grid;
            align-items: center;
            justify-items: center;     
        }
        #header-text {
            font-size: 1.3em;
            font-weight: 800;
        }
    }
/* Mittensektion */
    .hero {
        display: grid;
        justify-items: center;
        align-items: flex-start;
        grid-template-rows: auto auto auto 1fr;
        gap: 16px;
        .hero-item {
            display: grid;
            justify-content: center;
            align-items: center;
            text-align: center;
            height: 115px;
            width: 361px;
            xborder: solid 1px;
            h1 {
                width: 298px;
                height: 90px;
                font-weight: 800;
                color: #131022;
            }
            p {
                display: grid;
                align-items: center;
                width: 361px;
                height: 115px;
                font-size: 1.1em;
                color: #585C7B;
            }
        }
        /* style för knapparna */
        #hero-item-btn {
            height: 50px;
            width: 366px;
            border-radius: 10px;
            background-color: #131022;
        }
    }

}   

.page3 {
    
}