@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --text-color: #333333;
    --background-color: #ffffff;
    --link-color: #9a3886;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
    color: var(--text-color);
    background-color: var(--background-color);
    font-family: "Manrope", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
}

a {
    color: var(--link-color);
    text-decoration: none;
    
    &:hover {
        text-decoration: underline;
    }
}

h1,h2,h3,h4,h5,h6,p {
    padding:0;
    margin:0;
}

.page3 {
    height: 115px;
    background: #ffffff;
    display: grid;
    justify-items: center;
    align-items: start;
    gap: 24px;
    grid-template-rows: auto auto 1fr;
    xborder: solid 1px;

.phone-layout {
    display: grid;
    justify-items: center;
    align-items: center;
    xgap: 24px;
    xgrid-template-columns: 1fr 1fr 1fr;
    xborder: solid 1px;
    @media (width >= 712px) {
        grid-template-columns: 1fr 1fr 1fr;
        gap: .6rem;
    }
}

.phone-image {
    display: grid;
    grid-template-areas: stack;
    justify-items: center;
    align-items: center;
    xborder: solid 1px;
    --height: 545px;
    --width: 270px;
    @media (width >= 712px) {
        --height: 411px;
        --width: 203px;
    }

    #left-phone-img {
        grid-area: stack;
        display: none;
        height: var(--height);
        width: var(--width);
    }
    #left-phone-container {
        grid-area: stack;
        display: none;
        height: var(--height);
        width: var(--width);
    }
    #middle-phone-img {
        display: none;
        height: var(--height);
        width: var(--width);
    }
    #right-phone-img {
        grid-area: stack;
        height: var(--height);
        width: var(--width);

    }
    #right-phone-container {
        grid-area: stack;
        height: var(--height);
        width: var(--width);
  
    }
    #phone_id {
        display: none;
        height: var(--height);
        width: var(--width);
    }
    @media (width >= 712px) {
        #phone-img {
            display: none;
        }
        #container-img {
            display: none;
        }
        #left-phone-img {
            display: block;
        }
        #left-phone-container {
            display: block;
        }
        #middle-phone-img {
            display: block;
        }
        #right-phone-img {
            display: block;
        }
        #right-phone-container {
            display: block;
        }
    }
}


    .hero-item2 {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    xheight: 115px;
    xwidth: 361px;
    xborder: solid 1px;
    }
    h1 {
        text-align: center;
        color: #131022;
        xborder: solid 1px;
        font-size: 27.9px;
    }
    h2 {
        text-align: center;
        color: #131022;
        width: 337px;
        height: 60px;
        xborder: solid 1px;
    }
    p {
        text-align: center;
        color: #585C7B;
        width: 360px;
        height: 77px;
    }
}


